<!-- Functions in Scripts-->
<script src="./static/js/jscolor.js"></script>
<script src="./static/js/handler.js"></script>



<style>
.CodeMirror {
font-family: Arial, monospace;
font-size: 12px;
}
</style>

<script>


function run()
 {
  $("svg")[0].style ="width:700px";
  $("svg")[1].style ="width:700px";
 }
	


window.addEventListener('load', function(){ if (document.readyState==='complete') run(); });

</script>

{% extends "base_plugin.html" %}

{% set logo_frame = false %}

{% block headtable %}	
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1" style="vertical-align: middle"><strong>Login-State</strong></td>
			<td style="text-align: right;">
                {% if p.logged_in %}
                <img id="grafic_logged_in" src="static/img/lamp_green.png" alt="{{ _('logged in') }}" style="width: 17px;padding-bottom: 3px;"/>
                <strong id="text_logged_in">{{ _('logged in') }}</strong>
                {% else %}
                <img id="grafic_logged_in" src="static/img/lamp_red.png" alt="{{ _('logged out') }}" style="width: 17px;padding-bottom: 3px;"/>
                <strong id="text_logged_in">{{ _('logged off') }}</strong>
                {% endif %}

            </td>
		</tr>
		<tr>
			<td class="py-1"><strong>Session-ID</strong></td>
			<td id="text_session_id" class="py-1" style="text-align: right;">{{ p.context_id }}</td>
		</tr>
		<tr>
			<td class="py-1"><strong>{{_('last Login / Login Experiation')}}:</strong></td>
			<td id="text_experitation" class="py-1" style="text-align: right;">{{ myLastLogin }} / {{ myExperitation_Time }}</td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<form action="" method="post">
	<button id="btn1" class="btn btn-shng btn-sm" name="learn" type="submit" value="on"><i class="fas fa-wifi"></i>&nbsp;&nbsp;&nbsp;Mach was&nbsp;</button>
	</form>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 4 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> (" ~ item_count ~ ")" %}
{% block bodytab1 %}
<div class="container-fluid m-2">
		<table class="table table-striped table-hover pluginList" style="width:100%">
			<thead>
				<tr>
					<th style="max-width:20%">{{ _('Item') }}</th>
					<th style="max-width:20%">{{ _('Typ') }}</th>
					<th style="max-width:60%">{{ _('Wert') }}</th>
					</tr>
			</thead>
			<tbody>
			{% for item in items %}
				<tr>
					<td class="py-1" style="max-width:20%">{{ item._path }}</td>
					<td class="py-1" style="max-width:20%">{{ item._type }}</td>
					<td class="py-1" style="max-width:60%">{{ item() }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
</div>
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Gartenkarte/Settings</strong> " %}
{% block bodytab2 %}
<div class="container-fluid m-2">
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px; margin-bottom: 5px;margin-top: 5px;" class="row">

	<table class="table table-striped table-hover">
			<tr style="height: 10px;font-size: 12px" valign = "middle">
				<td style="width: 10%; vertical-align:middle;align:left">{{ _('Credentials') }}</td>
				<td style="width: 15%" valign = "middle" align="left">
			          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="txtUser" id="txtUser" placeholder="{{ _('Indego-User') }}" value="">			
				</td>
				<td style="width: 15%" valign = "middle" align="left">
			          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="txtPwd" id="txtPwd" placeholder="{{ _('Indego-Password') }}" value="">			
				</td>
				<td style="width: 10%; vertical-align:middle;align:left">
				<div class="custom-control custom-checkbox" style =" vertical-align:middle;align:left">
				    <input type="checkbox" class="custom-control-input" id="store_2_config" name="store_2_config">
				    <label class="custom-control-label" for="store_2_config">Store to Config</label>
				</div>
                </td>
                <td style="width:10%">
			          <button type="button" onclick="BtnEncode()" style="margin-left : 5px" class="btn btn-shng btn-sm" value="btnEncode" id="btnEncode">&nbsp;{{ _('Encode') }}</button>
                <td>
				<td style="width: 10%; vertical-align:middle;align:left">encoded Cred.:
                </td>
                <td style="width: 45%; vertical-align:middle;align:left">
			          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="txtEncoded" id="txtEncoded" placeholder="{{ _('Encoded Credentials') }}" value="">			
				</td>
			</tr>
            <tr>
            <td>
            <strong>Protokoll : </strong>
            </td>
            <td colspan="5">
					<textarea type="input" rows="2" style="width: 100%;height: 100%;font-size: 12px;" class="form-control" name="txt_Result" id="txt_Result" placeholder="{{ _('...') }}" disabled >{{ txt_Result }}</textarea>
            </td>
            </tr>

            <tr>
            <td>
            <strong>zusätzliche Garden-Map Vektoren : </strong>
            </td>
            <td colspan="7">
					<textarea type="input" rows="2" style="width: 100%;height: 100%;font-size: 12px;" class="form-control" name="txt_add_svg" id="txt_add_svg" placeholder="{{ _('...') }}" onChange="Store_add_svg(this.value)"> {{ txt_add_svg }} </textarea>
            </td>
            </tr>


	</table>

</div>
<!----------------------------------------->

		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr>
					<th style="width: 50%;">{{ _('Original-Karte') }}</th>
					<th style="width: 40%;">{{ _('Settings') }}</th>
					<th style="width: 10%;">{{ _('Wert') }}</th>
					</tr>
			</thead>
			<tbody>
				<tr height="10px">
					<td style="width: 50%;" rowspan="15">
                            {{ myMap }}
                    </td>
					<td class="py-1" style="vertical-align: middle;">{{ _('Farbwert für Mäher') }}</td>
					<td align=right>
                        <input id="mowercolour" class="jscolor {onFineChange:'SaveColor(this)'}" value={{myColour}}>
                    </td>
				</tr>
				<tr height="10%">
	    			<td style="width: 5%; vertical-align:middle;align:left;font-size: 20px"><strong>State-Triggers</strong></td>
                    <td></td>                 
                </tr>
                </tr>
				<tr height="10%">
    				<td style="width: 15%; align:left; vertical-align: middle;">State-Event für Trigger 1:</td>
                    <td style="width: 25%">
<select name="state_trigger_1" id="state_trigger_1" style="width:400px" onChange="selectStateTrigger(this.id)">
    {% for state in selectStates %}
        {% set selected = '' %}
            {% if (state.ID ~ '-' ~ state.Caption) == Trigger_1_state %}
               {% set selected = 'selected' %}
            {% endif %}
        <option value="{{state.ID}} {{state.Caption}}" id="{{ state.ID }}" {{ selected }}>{{state.ID}}-{{state.Caption}} </option>
    {% endfor %}
</select>
                    </td>                 
                </tr>
				<tr height="10%">
    				<td style="width: 15%; align:left; vertical-align: middle;">State-Event für Trigger 2:</td>
                    <td style="width: 25%">
<select name="state_trigger_2" id="state_trigger_2" style="width:400px" onChange="selectStateTrigger(this.id)">
    {% for state in selectStates %}
        {% set selected = '' %}
            {% if (state.ID ~ '-' ~ state.Caption) == Trigger_2_state %}
               {% set selected = 'selected' %}
            {% endif %}
        <option value="{{state.ID}} {{state.Caption}}" id="{{ state.ID }}" {{ selected }}>{{state.ID}}-{{state.Caption}} </option>
    {% endfor %}
</select>
</td>
                </tr>
				<tr height="10%">
    				<td style="width: 15%; align:left; vertical-align: middle;">State-Event für Trigger 3:</td>
                    <td style="width: 25%">
<select name="state_trigger_3" id="state_trigger_3" style="width:400px" onChange="selectStateTrigger(this.id)">
    {% for state in selectStates %}
        {% set selected = '' %}
            {% if (state.ID ~ '-' ~ state.Caption) == Trigger_3_state %}
               {% set selected = 'selected' %}
            {% endif %}
        <option value="{{state.ID}} {{state.Caption}}" id="{{ state.ID }}" {{ selected }}>{{state.ID}}-{{state.Caption}} </option>
    {% endfor %}
</select>
</td>
                </tr>
                </tr>
				<tr height="10%">
    				<td style="width: 15%; align:left; vertical-align: middle;">State-Event für Trigger 4:</td>
                    <td style="width: 25%">
<select name="state_trigger_4" id="state_trigger_4" style="width:400px" onChange="selectStateTrigger(this.id)">
    {% for state in selectStates %}
        {% set selected = '' %}
            {% if (state.ID ~ '-' ~ state.Caption) == Trigger_4_state %}
               {% set selected = 'selected' %}
            {% endif %}
        <option value="{{state.ID}} {{state.Caption}}" id="{{ state.ID }}" {{ selected }}>{{state.ID}}-{{state.Caption}} </option>
    {% endfor %}
</select>
</td>
                </tr>
				<tr height="10%">
	    			<td style="width: 5%; vertical-align:middle;align:left;font-size: 20px"><strong>Alarm-Triggers</strong></td>
                    <td></td>                 
                </tr>
                </tr>
				<tr height="10%">
    				<td style="width: 15%; align:left; vertical-align: middle;">Alarm-Event für Trigger 1:</td>
                    <td>
			          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="alarm_trigger_1" id="alarm_trigger_1" placeholder="{{ _('Alarm-Text') }}" value="{{ Alarm_Trigger_1}}" onChange="selectAlarmTrigger(this.id)">			
                    </td>                 
                </tr>
				<tr height="10%">
    				<td style="width: 15%; align:left; vertical-align: middle;">Alarm-Event für Trigger 2:</td>
                    <td>
			          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="alarm_trigger_2" id="alarm_trigger_2" placeholder="{{ _('Alarm-Text') }}" value="{{ Alarm_Trigger_2}}" onChange="selectAlarmTrigger(this.id)">			
                    </td>                 
                </tr>
				<tr height="10%">
    				<td style="width: 15%; align:left; vertical-align: middle;">Alarm-Event für Trigger 3:</td>
                    <td>
			          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="alarm_trigger_3" id="alarm_trigger_3" placeholder="{{ _('Alarm-Text') }}" value="{{ Alarm_Trigger_3}}" onChange="selectAlarmTrigger(this.id)">			
                    </td>                 
                </tr>
                </tr>
				<tr height="10%">
    				<td style="width: 15%; align:left; vertical-align: middle;">Alarm-Event für Trigger 4:</td>
                    <td>
			          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="alarm_trigger_4" id="alarm_trigger_4" placeholder="{{ _('Alarm-Text') }}" value="{{ Alarm_Trigger_4}}" onChange="selectAlarmTrigger(this.id)">			
                    </td>                 
                </tr>
			</tbody>
		</table>


</div>

<script>
function setTextColor(picker) {
	document.getElementsByTagName('body')[0].style.color = '#' + picker.toString()
    
}
</script>


{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
-->
{% set tab3title = "<strong>" ~ p.get_shortname() ~ " State-Protokoll</strong>" %}
{% block bodytab3 %}
<table class="table table-striped table-hover">
	<tbody>
    <tr>
        <td>
        	<button id="btn_clear_proto_states" class="btn btn-shng btn-sm" name="btn_clear_proto_states" value="on" onclick="DeleteProto(this.name)"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;States Protokoll löschen&nbsp;</button>
        </td>
        <td>
            <div class="custom-control custom-checkbox" style =" vertical-align:middle;align:left">
                <input type="checkbox" class="custom-control-input" id="proto_states_check" name="proto_states_check">
                <label class="custom-control-label" for="proto_states_check">automatisch akutalisieren ( 5 Sek.)</label>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="container-fluid" style="overflow: none; border-left: 1px solid #ccc;height: 60%">
    <div style="margin-bottom: 10px;height: 100%">


        {% if state_log_lines %}<textarea style="height: 100%" autocomplete="off" id="state_log_file" name="state_log_file">{% for line in state_log_lines %}{% if not loop.last %}{{ line }}{% else %}{{ line  | replace('\n', '') }}{% endif %}{% endfor %}</textarea>{% else %}{{ _('no data available') }}{% endif %}
    </div>
</div>
<div class="container-fluid">
    <table>
        <tr>
           <td Hinweis>
        </tr>   
    </table>
</div>
<script type="text/javascript" language="javascript">
var statelogCodeMirror = CodeMirror.fromTextArea(document.getElementById("state_log_file"),
 {
    lineNumbers: true,
    readOnly: true,
    indentUnit: 4,
    lineSeparator: '\n',
    mode: 'ttcn',
    lineWrapping: false,
    indentWithTabs: false,
    autoRefresh : true
});

window.addEventListener("resize", function(){resizeCodeMirror(statelogCodeMirror, 10)}, false);
resizeCodeMirror(statelogCodeMirror, 10);
statelogCodeMirror.refresh();
console.log ("refreshed CodeMirrot")
</script>


{% endblock bodytab3 %}



{% set tab4title = "<strong>" ~ p.get_shortname() ~ " Kommunikations-Protokoll</strong>" %}
{% block bodytab4 %}
<table class="table table-striped table-hover">
	<tbody>
    <tr>
        <td>
        	<button id="btn_clear_proto_commun" class="btn btn-shng btn-sm" name="btn_clear_proto_commun" value="on" onclick="DeleteProto(this.name)"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;Kommuinkations  Protokoll löschen&nbsp;</button>
        </td>
        <td>
            <div class="custom-control custom-checkbox" style =" vertical-align:middle;align:left">
                <input type="checkbox" class="custom-control-input" id="proto_commun_check" name="proto_commun_check">
                <label class="custom-control-label" for="proto_commun_check">automatisch akutalisieren ( 5 Sek.)</label>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="container-fluid" style="overflow: none; border-left: 1px solid #ccc;height: 60%">
    <div style="margin-bottom: 10px;">
        {% if com_log_lines %}<textarea autocomplete="off" id="Com_log_file" name="Com_log_file" onload="run()">{% for line in com_log_lines %}{% if not loop.last %}{{ line }}{% else %}{{ line  | replace('\n', '') }}{% endif %}{% endfor %}</textarea>{% else %}{{ _('no data available') }}{% endif %}
    </div>
</div>

<script type="text/javascript" language="javascript">
var logCodeMirror = CodeMirror.fromTextArea(document.getElementById("Com_log_file"),
 {
    lineNumbers: true,
    mode: "{{ mode }}",
    readOnly: true,
    indentUnit: 4,
    lineSeparator: '\n',
    mode: 'ttcn',
    lineWrapping: false,
    indentWithTabs: false,
});

window.addEventListener("resize", function(){resizeCodeMirror(logCodeMirror, 10)}, false);
resizeCodeMirror(logCodeMirror, 10);
logCodeMirror.refresh();

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  var target = $(e.target).attr("href") // activated tab
  if (target == "#bodytab_4")
        { logCodeMirror.refresh(); }
  else if (target == "#bodytab_3")
        { statelogCodeMirror.refresh(); }

$("svg")[0].style ="width:700px";
$("svg")[1].style ="width:700px";
});

</script>

{% endblock bodytab4 %}



