<!-- Functions in Scripts-->
<script src="./static/js/jscolor.js"></script>
<script src="./static/js/handler.js"></script>





<style>
.CodeMirror {
font-family: Arial, monospace;
font-size: 12px;
}
</style>

{% extends "base_plugin.html" %}

{% set logo_frame = false %}

{% block headtable %}	
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1" style="vertical-align: middle"><strong>Login-State</strong></td>
			<td style="text-align: right;">
                {% if p.logged_in %}
                <img src="static/img/lamp_green.png" alt="{{ _('logged in') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% else %}
                <img src="static/img/lamp_red.png" alt="{{ _('logged out') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% endif %}
                <strong>{{ _('logged in') }}</strong>
            </td>
		</tr>
		<tr>
			<td class="py-1"><strong>Session-ID</strong></td>
			<td class="py-1" style="text-align: right;">{{ p.context_id }}</td>
		</tr>
		<tr>
			<td class="py-1"><strong>last Login:</strong></td>
			<td class="py-1" style="text-align: right;">{{ myLastLogin }}</td>
		</tr>
		<tr>
			<td class="py-1"><strong>Login Experiation:</strong></td>
			<td class="py-1" style="text-align: right;">{{ myExperitation_Time }}</td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<form action="" method="post">
	<button id="btn1" class="btn btn-shng btn-sm" name="learn" type="submit" value="on"><i class="fas fa-wifi"></i>&nbsp;&nbsp;&nbsp;Mach was&nbsp;</button>
	</form>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 4 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> (" ~ item_count ~ ")" %}
{% block bodytab1 %}
<div class="container-fluid m-2">
		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr>
					<th style="width: 20%;">{{ _('Item') }}</th>
					<th style="width: 20%;">{{ _('Typ') }}</th>
					<th style="width: 60%;">{{ _('Wert') }}</th>
					</tr>
			</thead>
			<tbody>
			{% for item in items %}
				<tr>
					<td class="py-1">{{ item._path }}</td>
					<td class="py-1">{{ item._type }}</td>
					<td class="py-1">{{ item() }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
</div>
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Gartenkarte/Settings</strong> " %}
{% block bodytab2 %}
<div class="container-fluid m-2">

		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr>
					<th style="width: 50%;">{{ _('Karte') }}</th>
					<th style="width: 40%;">{{ _('Settings') }}</th>
					<th style="width: 10%;">{{ _('Wert') }}</th>
					</tr>
			</thead>
			<tbody>
				<tr height="20px">
					<td style="width: 50%;" rowspan="2">
            			<img src="static/img/garden.svg" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
                    </td>
					<td class="py-1" style="vertical-align: middle;">{{ _('Farbwert für Mäher') }}</td>
					<td>
                        <input id="mowercolour" class="jscolor {onFineChange:'SaveColor(this)'}" value={{myColour}}>
<!--                    	<input id="mowercolour" style="vertical-align: middle; align:center"  class="jscolor" value= {{myColour}}>-->
                    </td>
				</tr>
				<tr>
					<td>
                    </td>
					<td>
                    </td>
					<td>
                    </td>
				</tr>
			</tbody>
		</table>


</div>

<script>
function setTextColor(picker) {
	document.getElementsByTagName('body')[0].style.color = '#' + picker.toString()
    
}
</script>


{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
-->
{% set tab3title = "<strong>" ~ p.get_shortname() ~ " State-Protokoll</strong>" %}
{% block bodytab3 %}

<div class="container-fluid" style="overflow: none; border-left: 1px solid #ccc;height: 60%">
    <div style="margin-bottom: 10px;height: 100%">


        {% if state_log_lines %}<textarea style="height: 100%" autocomplete="off" id="state_log_file" name="state_log_file">{% for line in state_log_lines %}{% if not loop.last %}{{ line }}{% else %}{{ line  | replace('\n', '') }}{% endif %}{% endfor %}</textarea>{% else %}{{ _('no data available') }}{% endif %}
    </div>
</div>
<div class="container-fluid">
    <table>
        <tr>
           <td Hinweis>
        </tr>   
    </table>
</div>
<script type="text/javascript" language="javascript">
var logCodeMirror = CodeMirror.fromTextArea(document.getElementById("state_log_file"),
 {
    lineNumbers: true,
    readOnly: true,
    indentUnit: 4,
    lineSeparator: '\n',
    mode: 'ttcn',
    lineWrapping: false,
    indentWithTabs: false
});

window.addEventListener("resize", function(){resizeCodeMirror(logCodeMirror, 10)}, false);
resizeCodeMirror(logCodeMirror, 10);
logCodeMirror.refresh();
console.log ("refreshed CodeMirrot")
</script>


{% endblock bodytab3 %}



{% set tab4title = "<strong>" ~ p.get_shortname() ~ " Kommunikations-Protokoll</strong>" %}
{% block bodytab4 %}
<div class="container-fluid" style="overflow: none; border-left: 1px solid #ccc;height: 60%">
    <div style="margin-bottom: 10px;">
        {% if com_log_lines %}<textarea autocomplete="off" id="Com_log_file" name="Com_log_file">{% for line in com_log_lines %}{% if not loop.last %}{{ line }}{% else %}{{ line  | replace('\n', '') }}{% endif %}{% endfor %}</textarea>{% else %}{{ _('no data available') }}{% endif %}
    </div>
</div>

<script type="text/javascript" language="javascript">
var logCodeMirror = CodeMirror.fromTextArea(document.getElementById("Com_log_file"),
 {
    lineNumbers: true,
    mode: "{{ mode }}",
    readOnly: true,
    indentUnit: 4,
    lineSeparator: '\n',
    mode: 'ttcn',
    lineWrapping: false,
    indentWithTabs: false
});

window.addEventListener("resize", function(){resizeCodeMirror(logCodeMirror, 10)}, false);
resizeCodeMirror(logCodeMirror, 10);
logCodeMirror.refresh();
</script>

{% endblock bodytab4 %}



