/*********************************************
*
*  Widget for the Spinner
*
*********************************************/

{% macro spinner(id, item,_backend ) %}

{% import "basic.html" as basic %}
<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.spinner" data-item="{{ item }}" data-designType="{{ _backend }}">

<html>
<body>
  <div id="{{uid('overlay', id) }}" class="spinnerHidden">
      <div id="{{uid('spinner', id) }}" class="loader"></div>
  </div>
<script>
  spinner = document.getElementById("{{uid('spinner', id) }}");
</script>
</body>
</html>
</div>


{% endmacro %}


/*********************************************
*
*  Widget for the alerts
*
*********************************************/

{% macro alerts(id, item,_backend ) %}

{% import "basic.html" as basic %}
<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.alerts" data-item="{{ item }}" data-designType="{{ _backend }}"></div>
{% endmacro %}


/*********************************************
*
*  Widget for the params
*
*********************************************/

{% macro params(id, item,_backend ) %}
<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.params" data-item="{{ item }}" data-designType="{{ _backend }}"></div>
{% endmacro %}

/*********************************************
*
*  Widget for the garden-map
*
*********************************************/
{% macro garden_map(id, item,_backend) %}
	<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.garden_map" data-item="{{ item }}" data-designType="{{ _backend }}"></div>
{% endmacro %}


/*********************************************
*
*  Widget for the active  Calender
*
* id         = unique ID for the Widget
* item       = item of shNG
* type       = P:predictive Calendar M:MowCalendar
* headline   = Headline for the Fieldset
*********************************************/

{% macro calendar_active(id, item, type, headline, _backend ) %}

{% import "basic.html" as basic %}
	<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.calendar_sel_cal" data-item="{{ item }}"
	       data-mode="{{ type|default('P') }}" data-designType="{{ _backend }}">
        <div class="calendar_active">
			<html>
				<h4>{{ headline }}</h4>
				<body>
					<form>
					<fieldset data-role = "controlgroup" data-type = "horizontal" id="{{uid(type, '_cal_active' )}}">
						<input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_1') }}" style="display:none">
						<label id = "{{ uid(type,'caption_cal_1') }}" for = "{{ uid(type,'cal_1') }}" style="display:none">1</label>

						<input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_2') }}" style="display:none">
						<label id = "{{ uid(type,'caption_cal_2') }}" for = "{{ uid(type,'cal_2') }}" style="display:none">2</label>

						<input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_3') }}" style="display:none">
						<label id = "{{ uid(type,'caption_cal_3') }}" for = "{{ uid(type,'cal_3') }}" style="display:none">3</label>

						<input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_4') }}" style="display:none">
						<label id = "{{ uid(type,'caption_cal_4') }}" for = "{{ uid(type,'cal_4') }}" style="display:none">4</label>

						<input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_5') }}" style="display:none">
						<label id = "{{ uid(type,'caption_cal_5') }}" for = "{{ uid(type,'cal_5') }}" style="display:none">5</label>

						<input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_6') }}" style="display:none">
						<label id = "{{ uid(type,'caption_cal_6') }}" for = "{{ uid(type,'cal_6') }}" style="display:none" >EIN </label>

						<input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_0') }}" >
						<label id = "{{ uid(type,'caption_cal_0') }}" for = "{{ uid(type,'cal_0') }}">AUS</label>
					</fieldset>
					</form>
				</body>
			</html>
        </div>
	</div>
{% endmacro %}


/*********************************************
*
*  Widget for the Indego-Symbols
*
*********************************************/
/**
* @param unique id for this widget
* @param one or more item(s). More items in array form: [ item1 , item2 ]
* @param the pic, shown when item has value val
* @param value (default 1)
* @param the mode, 'or', 'and' (default 'or')
* @param the text, shown above the picture

*/

{% macro symbol(id, items, pic, val, mode,text, ignore_text) %}
	{% import "basic.html" as basic %}
	<div id="{{ uid(page, id) }}" data-widget="indego.symbol" data-item="{{ implode(items) }}" data-val="{{ val|default('1') }}"
		data-mode="{{ mode|default('or') }}" class="symbol hide">
        {% if not text is empty %}<font style="font-size:200%" color="red"><strong>{{  text }}</strong></font><br><br>{% endif %}
		<img src="{{  pic }}" style="width:100%;height:100%;">
	</div>
{% endmacro %}



/*********************************************
*
*  Widget for the SmartMowCalendar
*
*********************************************/
{% macro smartmow_calendar(id, item,_backend ) %}

{% import "basic.html" as basic %}
	<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.smartmow_calendar" data-item="{{ item }}" data-designType="{{ _backend }}"></div>
{% endmacro %}


/*********************************************
*
*  Widget for the Mow Calendar
*
*********************************************/
{% macro mow_calendar(id, item,_backend ) %}

{% import "basic.html" as basic %}
	<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.calendar" data-item="{{ item }}" data-designType="{{ _backend }}"></div>
{% endmacro %}



/*********************************************
*
*  Widget for the predictive Calendar
*
*********************************************/


{% macro predictive_calendar(id, item,_backend ) %}

{% import "basic.html" as basic %}
	<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.calendar_predictive_list" data-item="{{ item }}" data-designType="{{ _backend }}"></div>
{% endmacro %}


/*********************************************
*
*  Widget for the Weather-Pictures
*
*********************************************/
/**
* Displays an image witch is been reloaded after a given time
*
* @param {id} unique id for this widget
* @param {image} the path/url to the image
* @param {text(none,corner,corner-bottom,fill)=none} the mode: 'none', 'corner', 'corner-bottom', 'fill' (optional, default 'none')
* @param {duration=10i} the reload-time in duration-format (optional, default '10i')
*
* @see misc/fundamentals#Duration-Format
*/
{% macro image(id, item) %}

	<img id="{{ uid(page, id) }}" data-widget="indego.image" alt="indego.image" data-item="{{ item }}" data-designType="{{ _backend }}"
		{% if mode == 'corner' %}
			class="ui-corner-all"
		{% elseif mode == 'corner-bottom' %}
			class="ui-corner-bottom"
		{% elseif mode == 'fill' %}
			style="width: 100%"
		{% endif %}
		src="pages/base/pics/trans.png" style="width:100%;height:100%;" />

{% endmacro %}
