
/*********************************************
*
*  Widget for the active predictive Calender
*
* id         = unique ID for the Widget
* item       = item of shNG
* type       = P:predictive Calendar M:MowCalendar
* headline   = Headline for the Fieldset
*********************************************/

{% macro calendar_active(id, item, type, headline, _backend ) %}

{% import "basic.html" as basic %}
	<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.calendar_sel_cal" data-item="{{ item }}"
	       data-mode="{{ type|default('P') }}" data-designType="{{ _backend }}">

        <div class="calendar_active">

	<html>
		<h4>{{ headline }}</h4>
		   <body>
		      <form>
			 <fieldset data-role = "controlgroup" data-type = "horizontal" id="{{uid(type, '_cal_active' )}}">
			    <input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_1') }}" >
			    <label for = "{{ uid(type,'cal_1') }}">1</label>

			    <input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_2') }}">
			    <label for = "{{ uid(type,'cal_2') }}">2</label>

			    <input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_3') }}">
			    <label for = "{{ uid(type,'cal_3') }}">3</label>

			    <input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_4') }}" >
			    <label for = "{{ uid(type,'cal_4') }}">4</label>

			    <input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_5') }}" >
			    <label for = "{{ uid(type,'cal_5') }}">5</label>

			    <input type = "radio" name=uid(type,'act_cal') id = "{{ uid(type,'cal_0') }}" >
			    <label for = "{{ uid(type,'cal_0') }}">AUS</label>
			 </fieldset>
		      </form>
		   </body>
	</html>
        </div>
	</div>
{% endmacro %}


/*********************************************
*
*  Widget for the Indego-Symbols
*
*********************************************/
/**
* @param unique id for this widget
* @param one or more item(s). More items in array form: [ item1 , item2 ]
* @param the pic, shown when item has value val
* @param value (default 1)
* @param the mode, 'or', 'and' (default 'or')
*/
{% macro symbol(id, items, pic, val, mode) %}

	<div id="{{ uid(page, id) }}" data-widget="indego.symbol" data-item="{{ implode(items) }}" data-val="{{ val|default('1') }}"
		data-mode="{{ mode|default('or') }}" class="symbol hide">
		<img src="{{  pic }}" style="width:40%;height:40%;">
	</div>
{% endmacro %}


/*********************************************
*
*  Widget for the Mow Calendar
*
*********************************************/

{% macro mow_calendar(id, item,_backend ) %}

{% import "basic.html" as basic %}
	<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.calendar" data-item="{{ item }}" data-designType="{{ _backend }}">
	</div>
        <div class="indego_calendar">
        </div>

<html>
<head>
<!--
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0;" /> -->
  <link rel="stylesheet" type="text/css" media="screen" href="base.css" /> 
<style>
main {
  position: relative;
}
.overlay  {
  border-radius: .5em .5em .5em .5em;	
  border: 1px solid;
  padding: .5em;
  margin: .5em;
} 

.overlayHidden {
  display: none;
}
 
.overlay { 
  width: 30em; 
  background: #fffbf0; 
  border: 1px solid #e7c157;
  position: absolute;
  top: 10%;
  right: 5%;
  margin: auto;
  padding: 1em;
}
</style>

</head>
<body>

   <div id="popup" class="overlayHidden">
      <h2>Kalendereintrag hinzu</h2>


	<table>

	<tr>
		<td width=60px>
		<input type="time" id="t_von" name="Time_von" min="0:00" max="23:59" required>
		</td>
		<td width=60px>
		<input type="time" id="t_bis" name="Time_bis" min="0:00" max="23:59" required>
		</td>
		<td width=150px></td>
	</tr>

	<td colspan="3">
	   <body>
	      <form>
		 <fieldset data-role = "controlgroup" data-type = "horizontal" id="Weekdays">
		    <input type = "checkbox" id = "day_0" >
		    <label for = "day_0">Mo</label>

		    <input type = "checkbox" id = "day_1" value = 1 >
		    <label for = "day_1">Di</label>

		    <input type = "checkbox" id = "day_2" value = 0>
		    <label for = "day_2">Mi</label>

		    <input type = "checkbox" id = "day_3" >
		    <label for = "day_3">Do</label>

		    <input type = "checkbox" id = "day_4" >
		    <label for = "day_4">Fr</label>

		    <input type = "checkbox" id = "day_5" >
		    <label for = "day_5">Sa</label>

		    <input type = "checkbox" id = "day_6" >
		    <label for = "day_6">So</label>
		 </fieldset>
	      </form>
	   </body>
	</td>
	</tr>
	<tr><td>
         <button id="cancel">abbrechen</button>
	</td>
	<td>
         <button id="OK">OK</button>
	</td></tr>

	</table>
    </div>
  </main>
 
<script>
  var CancelBtn = document.getElementById('cancel');
  OkBtn = document.getElementById('OK');
  popup = document.getElementById('popup');
  CancelBtn.addEventListener('click',CloseEntryWindowByCancel);
  OkBtn.addEventListener('click',CloseEntryWindowByOK);
</script>

</body>
</html>


{% endmacro %}



/*********************************************
*
*  Widget for the predictive Calendar
*
*********************************************/


{% macro predictive_calendar(id, item,_backend ) %}

{% import "basic.html" as basic %}
	<div{% if not id is empty %} id="{{ uid(page, id) }}"{% endif %} data-widget="indego.calendar_predictive_list" data-item="{{ item }}" data-designType="{{ _backend }}">
	</div>
        <div class="indego_calendar">
        </div>

<html>
<head>
<!--
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0;" /> -->
  <link rel="stylesheet" type="text/css" media="screen" href="base.css" /> 
<style>
main {
  position: relative;
}
.overlay1  {
  border-radius: .5em .5em .5em .5em;	
  border: 1px solid;
  padding: .5em;
  margin: .5em;
} 

.overlayHidden1 {
  display: none;
}
 
.overlay1 { 
  width: 30em; 
  background: #fffbf0; 
  border: 1px solid #e7c157;
  position: absolute;
  top: 10%;
  right: 5%;
  margin: auto;
  padding: 1em;
}
</style>

</head>
<body>

   <div id="popup_pred" class="overlayHidden">
      <h2>Kalendereintrag hinzu</h2>


	<table>

	<tr>
		<td width=60px>
		<input type="time" id="t_von" name="Time_von" min="0:00" max="23:59" required>
		</td>
		<td width=60px>
		<input type="time" id="t_bis" name="Time_bis" min="0:00" max="23:59" required>
		</td>
		<td width=150px></td>
	</tr>

	<td colspan="3">
	   <body>
	      <form>
		 <fieldset data-role = "controlgroup" data-type = "horizontal" id="Weekdays">
		    <input type = "checkbox" id = "pred_day_0" >
		    <label for = "day_0">Mo</label>

		    <input type = "checkbox" id = "pred_day_1" value = 1 >
		    <label for = "day_1">Di</label>

		    <input type = "checkbox" id = "pred_day_2" value = 0>
		    <label for = "day_2">Mi</label>

		    <input type = "checkbox" id = "pred_day_3" >
		    <label for = "day_3">Do</label>

		    <input type = "checkbox" id = "pred_day_4" >
		    <label for = "day_4">Fr</label>

		    <input type = "checkbox" id = "pred_day_5" >
		    <label for = "day_5">Sa</label>

		    <input type = "checkbox" id = "pred_day_6" >
		    <label for = "day_6">So</label>
		 </fieldset>
	      </form>
	   </body>
	</td>
	</tr>
	<tr><td>
         <button id="cancel">abbrechen</button>
	</td>
	<td>
         <button id="OK">OK</button>
	</td></tr>

	</table>
    </div>
  </main>
 
<script>
  var CancelBtn = document.getElementById('cancel');
  OkBtn = document.getElementById('OK');
  popup = document.getElementById('popup');
  CancelBtn.addEventListener('click',CloseEntryWindowByCancel);
  OkBtn.addEventListener('click',CloseEntryWindowByOK);
</script>

</body>
</html>


{% endmacro %}

